.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.ColumbiaRoad:hover {
  background-image: url('./static/Columbia_road_banner_transparent.png');
  color: white;
}

.futurice:hover {
  background-color: rgba(0, 159, 119, 0.5);
}

.AitoDotAI:hover {
  background-color: rgba(255, 169, 211, 0.5);
}

